@font-face {
    font-family: "BalooTamma2Bold";
    src: url("../fonts/BalooTamma2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "BalooTamma2";
    src: url("../fonts/BalooTamma2-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    /*background-color: #d7a571;*/
    /*https://leaverou.github.io/css3patterns/*/
    /*
    background-color: #93693d;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
   
     */

    /*background-color: hsl(34, 53%, 82%);*/
    
    /*
    background-color: rgba(105, 74, 33, 1);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
    );
    
     */

/*
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    
 */
    
    background-color: white;
}

.container .row {
    height: 100vh;
}

#game-play-area {
    /*
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    
     */

    /*
    background: #dd3e54;  
    background: -webkit-linear-gradient(to top, #6be585, #dd3e54); 
    background: linear-gradient(to top, #6be585, #dd3e54); 
    */

    /*
    background: #dd3e54;  
    background: -webkit-linear-gradient(to bottom, #6be585, #dd3e54);  
    background: linear-gradient(to bottom, #6be585, #dd3e54);
     
     */

    display:flex;
    flex-direction: column;

    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);




}

.container-fluid div {
    /*border: 1px solid red;*/
}

.imaginarium-menu {
    height: 60px;
}

.imaginarium-actions {
    height: 63px;
    margin-top: 3px;
}

.imaginarium-game {
    height: calc(100% - 180px);
    text-align: center;
    flex-grow:1;

    display:flex;
    flex-direction: column;
}

.btn-action-bottom {
    font-weight: bold; 
    position: relative; 
    left: 50%; 
    transform: translate(-50%, 0px);
}

#game-users-area {
    padding: 0;
    background-color: #673540;
    text-align: center;
    position: relative;
    z-index: 3;
    border-left: 3px solid #592333;
}

#game-users-area h2 {
    /*color: #f3f642;*/
    color: #fff155;
    margin: 0;
    padding: 10px;
    font-family: 'BalooTamma2Bold';
}

#game-users-area table {
    text-align: left;
    color: black;
    width: 100%;
    table-layout: fixed;
}

#game-users-area table tr {
    color: black;
    border-top: 2px solid #592333;
    /*background-color: #994964;*/

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#994964+0,993757+48,994964+100 */
    background: #994964; /* Old browsers */
    background: -moz-linear-gradient(top,  #994964 0%, #993757 48%, #994964 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #994964 0%,#993757 48%,#994964 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #994964 0%,#993757 48%,#994964 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#994964', endColorstr='#994964',GradientType=0 ); /* IE6-9 */

}

#game-users-area table tr:last-child {
    border-bottom: 2px solid #592333;
}

#game-users-area table tr:nth-child(odd) {
    /*background-color: #673540;*/

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#673540+0,662836+49,673540+100 */
    background: #673540; /* Old browsers */
    background: -moz-linear-gradient(top,  #673540 0%, #662836 49%, #673540 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #673540 0%,#662836 49%,#673540 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #673540 0%,#662836 49%,#673540 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#673540', endColorstr='#673540',GradientType=0 ); /* IE6-9 */

}

#game-users-area table td {
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #f3f642;
    font-family: 'BalooTamma2';
}

#game-users-area table td .fa-check-circle {
    color: chartreuse;
}

#game-users-area table td .fa-wifi {
    color: red;
}

#game-users-area table td:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#game-users-area table td:nth-child(2) {
    width: 15%;
}

#game-users-area table td:last-child {
    font-size: 24px;
    width: 15%;
}

#spotlight-view-wrapper{
    flex-grow: 1;
    align-self: center;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spotlight-view {
    overflow: hidden;
    width: 100%;
}


#spotlight-selected-card {
    position: relative;
    
    width: 85%; 
    margin-left: -70%;
    margin-right: -70%;
    z-index: 2;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#spotlight-left-card {
    position: relative;
    width: 75%; 
    z-index: 1;
}

#spotlight-right-card {
    position: relative;
    width: 75%; 
    z-index: 1;
}

#player-cards {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
  flex: 0 1 15%; /* explanation below */
  margin: 1px;
}

.game-card.selected {
    border: 3px solid white;
}

#game-user-toggle {
    display: none;
}

.game-btn-normal-style {
    background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );
    color: #ddd;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

#game-user-leave {
    position: absolute;
    left: 0;
    padding: 10px;

    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    border: 0;
    border-bottom-right-radius: 5px;
    outline:none;

    color: #ccc;
    font-size: 20px;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    z-index: 999;
    cursor: pointer;
}

@media (max-width: 768px) {
    #game-users-area {
        display: block !important;
        position: absolute;
        top: 0;
        right: -80%;
        height: 100vh;
        width: 80vw;
        border-bottom-left-radius: 15px;
        -webkit-box-shadow: -1px 0px 7px 0px rgba(0,0,0,1);
        -moz-box-shadow: -1px 0px 7px 0px rgba(0,0,0,1);
        box-shadow: -1px 0px 7px 0px rgba(0,0,0,1);
        transition: right 0.5s;
    }

    #game-users-area.showed {
        right: 0;
    }

    #game-users-area table {
        border-top-left-radius: 15px;
    }
    
    #game-user-toggle {
        display: block;
        position: absolute;
        padding: 10px;
        left: -46px;

        background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
        border: 0;
        border-bottom-left-radius: 5px;
        outline:none;
        
        color: #ccc;
        font-size: 20px;

        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    }
    
    .imaginarium-game {
        padding: 0;
    }

    #game-user-toggle {
        background-position: right center;
    }
}


.f-question-1 {
    font-size: 36px;
    position: absolute;
    top: 4%;
    left: 24%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-2 {
    font-size: 36px;
    position: absolute;
    top: 9%;
    left: 8%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-3 {
    font-size: 36px;
    position: absolute;
    top: 8%;
    left: 50%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-4 {
    font-size: 52px;
    position: absolute;
    top: 14%;
    left: 23%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-5 {
    font-size: 46px;
    position: absolute;
    top: 17%;
    left: 76%;
    color: rgba(215, 189, 55, 0.69);
}

.f-question-6 {
    font-size: 36px;
    position: absolute;
    top: 23%;
    left: 31%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-7 {
    font-size: 28px;
    position: absolute;
    top: 23%;
    left: 82%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-8 {
    font-size: 52px;
    position: absolute;
    top: 31%;
    left: 74%;
    color: rgba(215, 189, 55, 0.79);
}

.f-question-9 {
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 41%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-10 {
    font-size: 36px;
    position: absolute;
    top: 42%;
    left: 54%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-11 {
    font-size: 36px;
    position: absolute;
    top: 49%;
    left: 12%;
    color: rgba(215, 189, 55, 0.59);
}

.f-question-12 {
    font-size: 51px;
    position: absolute;
    top: 55%;
    left: 64%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-13 {
    font-size: 28px;
    position: absolute;
    top: 61%;
    left: 90%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-14 {
    font-size: 32px;
    position: absolute;
    top: 68%;
    left: 22%;
    color: rgba(215, 189, 55, 0.29);
}

.f-question-15 {
    font-size: 28px;
    position: absolute;
    top: 72%;
    left: 75%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-16 {
    font-size: 41px;
    position: absolute;
    top: 78%;
    left: 19%;
    color: rgba(215, 189, 55, 0.39);
}

.f-question-17 {
    font-size: 32px;
    position: absolute;
    top: 85%;
    left: 56%;
    color: rgba(215, 189, 55, 0.49);
}

.f-question-18 {
    font-size: 52px;
    position: absolute;
    top: 90%;
    left: 35%;
    color: rgba(215, 189, 55, 0.39);
}

.f-unlock-1 {
    font-size: 28px;
    position: absolute;
    top: 16%;
    left: 10%;
    color: rgba(99, 170, 19, 0.19);
}

.f-unlock-2 {
    font-size: 32px;
    position: absolute;
    top: 22%;
    left: 55%;
    color: rgba(99, 170, 19, 0.29);
}

.f-unlock-3 {
    font-size: 42px;
    position: absolute;
    top: 32%;
    left: 16%;
    color: rgba(99, 170, 19, 0.19);
}

.f-unlock-4 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 45%;
    color: rgba(99, 170, 19, 0.29);
}

.f-unlock-5 {
    font-size: 46px;
    position: absolute;
    top: 64%;
    left: 65%;
    color: rgba(99, 170, 19, 0.29);
}

.f-unlock-6 {
    font-size: 36px;
    position: absolute;
    top: 84%;
    left: 15%;
    color: rgba(99, 170, 19, 0.29);
}

.f-eye-1 {
    font-size: 36px;
    position: absolute;
    top: 5%;
    left: 82%;
    color: rgba(233, 155, 53, 0.32);
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }